.card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.card-edit {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1px;
}

.card-edit input,
.card-edit textarea {
  border: var(--border-inputs);
  border-radius: 3px;
  padding: 1px;
}

.card-edit textarea {
  max-width: 100%;
}

/* tablety */
@media (min-width: 768px) {
  .card-edit textarea {
    font-size: 1.2rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .card-edit textarea {
    font-size: 1.2rem;
  }
}
