h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: var(--font-primary);
}

.form-row,
.form-button,
.checkbox,
.form-choose,
.addForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-row-category {
  display: flex;
  align-items: center;
  margin: 0 0 20px 20px;
}

#activity {
  margin-left: 40px;
}

.addForm {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-addform);
}

.fill-form,
.back-button {
  width: 400px;
  font-family: var(--font-secondary);
}

.form-row {
  gap: 10px;
}

.form-row label {
  width: 100px;
}

.form-row input,
textarea {
  width: 250px;
  padding-left: 2px;
}

textarea {
  height: 100px;
}

.add-button,
.go-back-button {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--color-buttons);
  font-family: var(--font-buttons);
}

.add-button {
  padding: 10px 25px;
}

.add-button:hover,
.go-back-button:hover {
  transform: scale(1.2);
  background-color: var(--color-btn-hover);
}

.checkbox {
  gap: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.back-button {
  justify-content: start;
}

.go-back-button {
  padding: 10px 30px;
}
