.nav-bar-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-bg-addform);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: var(--font-buttons);
  z-index: 100;
}

h2 {
  text-align: center;
  font-size: 2.3rem;
  font-family: var(--font-primary);
}

.addForm {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-addform);
  min-height: 100vh;
  padding-top: 90px; /* kvůli fixnímu navbaru */
}

.fill-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  gap: 15px;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
}

.form-row,
.checkbox,
.form-choose {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.form-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-row label {
  width: 100px;
  text-align: left;
}

.form-row input,
.form-row textarea,
select {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border: var(--border-inputs);
}

textarea {
  height: 100px;
  resize: vertical;
}

.form-row-category {
  display: flex;
  align-items: center;
  gap: 25px;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

/* Tablety */
@media (min-width: 768px) {
  #activity {
    width: 150px;
  }

  .checkbox {
    margin-bottom: 15px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .fill-form {
    max-width: 800px;
    width: 100%;
    margin-top: 10px;
  }

  .form-row {
    display: flex;
    flex-direction: row;
  }

  .form-row label {
    min-width: 100px;
  }

  .form-row input {
    height: 40px;
  }

  #message {
    height: 170px;
  }

  .checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
