h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.form-row,
.form-button,
.form-choose,
.checkbox,
.addForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.addForm {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fill-form {
  width: 400px;
  margin: 0 auto;
}

.form-row {
  gap: 10px;
}

.form-row label {
  width: 100px;
}

.form-row input,
textarea {
  width: 250px;
  padding-left: 2px;
}

textarea {
  height: 100px;
}

.add-button,
.save-button,
.go-back-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  padding: 10px 25px;
}

.add-button:hover,
.go-back-button:hover {
  transform: scale(1.2);
}

.save-button {
  padding: 0 20px;
  margin-left: 30px;
}

.checkbox {
  gap: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.back-button {
  align-items: start;
  justify-content: start;
}

.go-back-button {
  margin-top: 25px;
  padding: 10px 30px;
}
