@import "./reset.css";

body,
html {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(--font-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-bg-list: #f0f0f0;
  --color-buttons: #fdfcfb;
  --color-bg-addform: #f7f4ed;
  --color-bg-navbar: #f5eee6;
  --color-btn-hover: #e5dbcf;
  --color-green: #38523b;
  --color-green-light: #cae6cd;
  --color-text: #130909;

  --border-radius: 5px;
  --border-inputs: 1px solid #e0dfdf;

  --font-secondary: "Raleway", sans-serif;
  --font-primary: "Indie Flower", sans-serif;
  --font-buttons: "Nunito", sans-serif;
}
