@import "./mixins.css";
@import "./reset.css";

body,
html {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Indie Flower", "serif";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-green: #113219;
  --color-brown: #261a0d;
  --color-capuccino: #b69f7e;
  --color-light-green: #98dda1;
  --color-blue: #6ac5cd;
  --color-pink: #d98ca6;
  --color-yellow: #c6b453;
  --color-coral: #a22e57;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --blue: #2d9cdb;
  --darkblue: #1b7db3;
  --lightgrey: #b5bac1;
  --darkgrey: #333333;
  --white: #ffffff;
  --font-Indie: "Indie Flower", sans-serif;
}

/* .container {
  width: 1352px;
  margin: 0 auto;

  @include notebook {
    width: 100%;
  }
} */
