.lists {
  background-color: var(--color-bg-list);
  height: 100vh;
}

.nav-bar {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  background-color: var(--color-bg-navbar);
  box-shadow: inset 5px 5px 30px rgb(0 0 0 / 0.2);
  font-family: var(--font-buttons);
  position: sticky;
  top: 0;
  z-index: 10;
}

.lists-go-back-button,
.nav-bar select,
.search-form input {
  border-radius: var(--border-radius);
  border: none;
  height: 40px;
  width: 130px;
  background-color: var(--color-buttons);
}

.lists-go-back-button:hover {
  background-color: var(--color-btn-hover);
}
.filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar select {
  width: 130px;
}

.search-form input {
  width: 230px;
  padding-left: 5px;
}

.cards {
  column-count: 3;
  column-gap: 1rem;
  padding: 1rem;
  list-style: none;
}

.card {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
  break-inside: avoid; /* zabrání rozdělení karty */
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--color-buttons);
  transition: transform 0.2s ease;
  cursor: pointer;
  font-family: var(--font-secondary);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
