.lists {
  background-color: var(--color-bg-list);
  height: 100vh;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  position: sticky;
  height: 120px;
  width: 100%;
  background-color: var(--color-bg-navbar);
  box-shadow: inset 5px 5px 30px rgb(0 0 0 / 0.2); /* 0 2px 6px rgba(0, 0, 0, 0.1);*/
  font-family: var(--font-buttons);
  z-index: 10;
}

.nav-top-row {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  margin: auto;
}

.user-info {
  display: flex;
  gap: 2rem;
}

.user-info p {
  flex-direction: row;
  font-family: var(--font-secondary);
}

.notif-icon {
  margin-left: 0.5rem;
}

.sign-out-button {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--color-buttons);
  font-family: var(--font-buttons);
  padding: 8px 25px;
}

.nav-bottom-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.go-back-button-list {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--color-buttons);
  font-family: var(--font-buttons);
  padding: 8px 30px;
}

.nav-bar select,
.search-form input {
  border-radius: var(--border-radius);
  border: none;
  height: 40px;
  width: 130px;
  background-color: var(--color-buttons);
}

.filters {
  display: flex;
  align-items: center;

  gap: 20px;
  height: 40px;
}

.search-form input {
  width: 230px;
  padding-left: 5px;
}

.cards {
  column-count: 3;
  column-gap: 1rem;
  padding: 1rem;
  list-style: none;
}

.card {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
  break-inside: avoid; /* zabrání rozdělení karty */
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--color-buttons);
  transition: transform 0.2s ease;
  cursor: pointer;
  font-family: var(--font-secondary);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.notice {
  color: var(--color-green);
  font-weight: bold;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}
