body {
  overflow-x: hidden;
}

.lists {
  background-color: var(--color-bg-list);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-bg-navbar);
  box-shadow: inset 5px 5px 30px rgb(0 0 0 / 0.2);
  font-family: var(--font-buttons);
  z-index: 10;
  box-sizing: border-box;
}

.nav-top-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.nav-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.user-info {
  display: flex;
  gap: 10px;
}

.user-info p {
  flex-direction: row;
  font-family: var(--font-secondary);
}

.notif-icon {
  margin-left: 0.5rem;
}

.nav-bar select,
.search-form input {
  border-radius: var(--border-radius);
  border: none;
  height: 40px;
  width: 100px;
  background-color: var(--color-buttons);
  font-size: 1.1rem;
}

.filters {
  display: flex;
  gap: 10px;
  height: 40px;
}

.search-form input {
  width: 120px;
  padding-left: 5px;
}

.cards {
  column-count: 2;
  column-gap: 0.6rem;
  padding: 0.6rem;
  display: block;
}

.card {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0 0 0.6rem;
  break-inside: avoid;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--color-buttons);
  transition: transform 0.2s ease;
  cursor: pointer;
  font-family: var(--font-secondary);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.notice {
  color: var(--color-green);
  font-weight: bold;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.notice-message {
  color: var(--color-text);
  text-align: center;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-green-light);
  padding: 8px 16px;
  border-radius: 8px;
  z-index: 9999;
}

.modal-message {
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

/* tablet */
@media (min-width: 768px) {
  .cards {
    column-count: 3;
  }

  .card {
    font-size: 1.2rem;
  }

  .search-form input {
    width: 200px;
  }

  .filters select {
    width: 150px;
  }
}

/* desktopy */
@media (min-width: 1024px) {
  .cards {
    column-count: 4;
  }

  .card {
    font-size: 1.2rem;
  }
}

/* Větší obrazovky (nad 1440px) – 5 sloupců */
@media (min-width: 1441px) {
  .cards {
    column-count: 5;
  }
}
