.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: start;
  font-family: var(--font-secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal-content {
  background: var(--color-bg-list);
  padding: 1rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  min-height: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-switch-btn {
  margin-top: 15px;
}

.modal-content .notice-message {
  margin-bottom: 15px;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  text-align: center;
}

/* tablet */
@media (min-width: 768px) {
  .modal-content {
    max-width: 400px;
    min-height: 300px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .modal-content {
    max-width: 450px;
    min-height: 300px;
  }
}
