.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.login-email,
.login-pass {
  width: 100%;
}

.login-email label,
.login-pass label {
  margin-right: 20px;
}

.login-pass input,
.login-email input {
  width: 200px;
  border: var(--border-inputs);
  border-radius: 3px;
}

.modal-switch-btn {
  gap: 20px;
}

input[type="password"] {
  -webkit-text-security: disc;
}

/* tablet */
@media (min-width: 768px) {
  .login-email label,
  .login-pass label {
    font-size: 1rem;
  }

  .login-pass input,
  .login-email input {
    width: 250px;
    height: 35px;
    font-size: 1.1rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .login-email label,
  .login-pass label {
    font-size: 1.1rem;
  }

  .login-pass input,
  .login-email input {
    width: 320px;
    height: 30px;
    font-size: 1.1rem;
  }
}
