/* --mobile: 480px;
--tablet: 768px;
--desktop: 1024px;
--large-desktop: 1200px;

@mixin notebook {
  @media (min-width: 1024) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
} */
